body {
  background-color: beige;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  margin-right: 30px;
}
.hyperlinks {
  display: flex;
  justify-content: space-between;
}
.sign-in {
  border-radius: 20px;
  padding: 18px;
}
.create {
  border-radius: 20px;
  padding: 18px;
  background-color: black;
  color: white;
}
.content {
  justify-content: center;
  margin-top: 150px;
  margin-left: 250px;
}
.iphone {
  border-radius: 18px;
  padding: 18px;
  border: none;
  background-color: black;
  color: white;
}
.andriod {
  border-radius: 18px;
  padding: 18px;
  border: none;
  background-color: black;
  color: white;
}
.create:hover:hover {
  background-color: lightsalmon;
  transition: 0.5s;
  margin-bottom: 15px;
}
.parent-image {
  display: flex;
  margin-left: 700px;
  justify-content: center;
  position: relative;
  height: 5vh;
  width: 500px;
  align-items: center;
}
.four {
  position: absolute;
  right: 35px;
  bottom: 50px;
}
.one {
  position: absolute;
  right: 500px;
  bottom: 250px;
}
